<div class="container">
	<div class="jumbotron">
		<h1>Get your questions answered. Instantly.</h1>

		<h2>Anonymous text message-based polling. No App required!</h2>

		<p class="lead" style="margin-top:45px;">Create a question and responses then simply ask respondants to text a <code class="no-background">response code</code> to a provided telephone number.</p>

		<p class="lead" style="margin-top:45px;">Results available instantly.</p>

		<p class="lead" style="margin-top:45px;">
			<a href="/create-poll" class="btn btn-lg btn-primary">Create poll</a>
		</p>
	</div>
</div>

<div class="container">
	<h2>Create poll</h2>

	<hr>

	<div create-poll></div>
</div>