<div class="container">
	<ol class="breadcrumb">
		<li><a ng-href="/poll/{{ poll.id }}?preview=false"><span class="glyphicon glyphicon-chevron-left"></span>Responses</a></li>
	</ol>

	<div class="jumbotron">
		<h1>{{ poll.question }}</h1>

		<hr>

		<div ng-repeat="option in poll.options">
			<h2><code class="no-background">{{ option.id }}</code> <span class="text-muted">&mdash;</span> {{ option.name }}</h2>
		</div>

		<hr>

		<h2>Text a <code class="no-background">response code</code> to: <strong>850-888-3001</strong></h2>

	</div>
</div>